<div>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
  <%= @book.errors.full_messages.each do |message| %>
  <% messege %>

  </ul>
  <% end %>
  <% end %>
  </div>